{%load static%}

<!DOCTYPE html>
<html>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  Tweesaster
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="google-signin-client_id" content='716437175057-c9dejafkgem7skfi1821etdci65llsv4.apps.googleusercontent.com'>
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tweesaster.css' %}" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
   <script src="https://apis.google.com/js/platform.js" async defer></script>
         <!--  <script src="{% static 'js/helo.js' %}" type="text/javascript"></script> -->
</head>
<body>

<h1 class="welcome">Welcome</h1>
</body>