.welcome{
	padding-top:20%;
	text-align: center;
	color: #ffffff;
	font-family: "Archivo";
	font-style: "Black"
	font-size: 100pt;
}
.definition{
	padding-top:30%;
	text-align: center;
	color: #ffffff;
	font-family: "Archivo";
	font-style: "Black"
	font-size: 20pt;

}
body{
	background-color: #A9B7C0;
}